@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$light-blue:#0079FF;
$light-grey:#697C9A;
$light-blue1:#4B6A9B;
$light-black:#2B3442;
$light-grey1: #F6F8FF;
$dark-black:#141D2F;


$font-stack: "Space Mono", monospace;