@import '../utilities/variables';

*{
    font-family: $font-stack;
}

.searchbar{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    display: flex;
    align-items: center;
}

input{
    width: 600px;
    padding: 20px 65px;
    font-size: 1.1em;
    border: none;
    border-radius:10px;
}

.icon{
    color: $light-blue;
    float: left;
    position: absolute;
    padding: 0 20px;
}

.search-button{
    position: absolute;
    right: 0;
    margin: 0 20px;    
    background-color: $light-blue;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.search-button:hover{
    background-color: #3292ff;
    transition: 0.3s;
}


.searchbar-DARK{
    input{
        background-color: #1E2A47;
        color: white;
    }

    ::placeholder{
        color: white;
        opacity: 1
    }
}

.results{
    position: absolute;
    right: 150px;
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 750px) {
    .searchbar {
      width: 600px;
    }


  }

  @media only screen and (max-width: 620px) {
    .searchbar {
      width: 450px;
    }

    .results{
        right: 120px;
    }


    .search-button{
    margin: 0 10px;    
    padding: 12px 20px;
    }
  }

  @media only screen and (max-width: 500px) {
    .searchbar {
      width: 350px;
    }

    input{
        font-size: 14px;
    }
    
    .icon{
        padding: 10px;
    }

    .search-button{
    margin: 0 5px;    
    padding: 10px;

    }

    input{
        padding: 20px 45px;
    }
    
  }